
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddDegree</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>

    <form action="/Student/Add" method="get" class="m-5">
        <input type="text" name="id" />
        <br />
        <select name="names" multiple>
            <option>Nourhan</option>
            <option>Mostafa</option>
            <option>Sara</option>
            <option>Nada</option>
        </select>
        <br />
        Nourhan <input name="degree.1" type="text" /> <br />
        Mostafa <input name="degree.2" type="text" /> <br />
        Sara <input name="degree.3" type="text" /> <br />
        Nada <input name="degree.4" type="text" /> <br />

        <input type="submit" value="Add" class="btn btn-primary" />
    </form>
</body>
</html>
